
cmd/server/temp/*
cmd/server/tmp/*
cmd/server/packets/*
cmd/server/yourbinary/*
__debug_*
cmd/server/__debug_*
node_modules

dist-ssr
work/*
.vscode/*
temp/*
*.local
.env
__debug_*
logs/app.log

.vscode/*
!.vscode/extensions.json
.idea/*
.DS_Store
*.suo
*.pdf
*.ntvs*
*.njsproj
*.sln
*.sw?
